---
import YouTubeEmbed from "./YouTubeEmbed.astro";
import type { Performance } from "../types/types";

// Assert that Astro.props has item of type Performance
const props = Astro.props as { item: Performance };
const { item } = props;
---

<div class="pt-8">
    <p class="mt-4 text-center font-bold text-xl">
        {item.artistName} - {item.date}
    </p>
    { item.youtubeLink && <YouTubeEmbed link={item.youtubeLink} /> }
    <div class="pt-4">
        { item.instaHandle && (
            <div>
                <a class="underline" href={`https://www.instagram.com/${item.instaHandle}`}>Instagram</a>
            </div>
        )}
    
        { item.spotifyId && (
            <div>
                <a class="underline" href={`https://open.spotify.com/artist/${item.spotifyId}`}>Spotify</a>
            </div>
        )}
    
        { item.bandcampLink && (
            <div>
                <a class="underline" href={item.bandcampLink}>Bandcamp</a>
            </div>
        )}
    
        { item.audioEngineers && item.audioEngineers?.length > 0 && (
            <div class="mt-4">
                <p class="font-bold">Audio Engineer:</p>
                <ul class="list-disc ml-4">
                    {item.audioEngineers.map((engineer: string) => (
                        <li class="list-inside">{engineer}</li>
                    ))}
                </ul>
            </div>
        )}
    
        { item.videographers && item.videographers?.length > 0 && (
            <div class="mt-4">
                <p class="font-bold">Videographers:</p>
                <ul class="list-disc ml-4">
                    {item.videographers.map((videographer: string) => (
                        <li class="list-inside">{videographer}</li>
                    ))}
                </ul>
            </div>
        )}
    
        { item.MC && (
            <div class="mt-4">
                <p class="font-bold">MC:</p>
                <ul class="list-disc ml-4">
                    <li class="list-inside">{item.MC}</li>
                </ul>
            </div>
        )}

        { item.about && (
            <>
                <p class="font-bold mt-4">About {item.artistName}:</p>
                <p>{item.about}</p>
            </>
        )}
    </div>
    
</div>
